version: '2'
services:
  mysql:
    restart: always
    image: mysql:5.7.22
    volumes:
    - /c/mnt/docker/callersbane/mysql:/var/lib/mysql
  callersbane:
    restart: always
    image: andrewsav/callersbane
    ports:
    - "8081:8081"
    environment: 
      SERVER_ID: docker-server
    volumes:
    - /c/mnt/docker/callersbane/conf:/callersbane/CallersBane-Server/cfg
